body{
    background-image: url(images2/background.jpg);
    background-size: auto;
}
h6{
    text-align: left;
    margin: 0px;
    color: azure;
}
h3{
    text-align: left;
    color: tomato ;
    background-color: aqua;
    margin: 0px;
    border: 2px solid blueviolet;
    box-shadow: 10px 10px 10px rgb(235, 132, 218);
    padding: 10px;
}
h4{
    text-align: right;
}
p{
    color: whitesmoke;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
h4{
    color: aliceblue;
}
ul{
    color: azure;
}
/* img{
/* align-content: center; */
/* align-self: center; */
/* align-tracks: center; */
/* text-align: justify; */
/* image-resolution: 250px 250px; */
   margin: 0px;
   border: 2px solid blueviolet;
   box-shadow: 5px 5px 5px;
   padding: 0px; */
   /* background-position: center; */
   
   
}
.p2, h2{
    text-align: left;
    /* text-decoration: underline; */
}
div, ul hr{
    text-align: center;
}
.center{
    display: block;
    /* margin-top:  auto; */
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

copyright{
    color: aliceblue;
}
h2{
    color: aliceblue;
    margin: 0px;
    padding: 0px
}
.btn{
    background-color: tomato;
    padding: 8px 10px 5px 5px blue;
    border: style:solid 20px 10px 5px;
    border-width: 5px;
    border-color: yellow;
    border-redius: 5px;
    width: 20px
    height: 25px
}
.lorem5{
    text-align: justify;
color: tomato;
font-family: roboto;
}
.h33{
    color: aliceblue;
    text-align: center;
margin: 0px;
border: solid 2px ;
box-shadow: 20px;

}